#page-masthead h1 {
    color: #ccc;
    display: inline;
    float: right;
    font-family: trebuchet, sans-serif;
    font-size: 300%;
    font-weight: bold;
    overflow: hidden;
    padding: 20px;
    text-align: center;
    width: 260px;
}
#page-masthead p {
    border: 1px solid #ccc;
    clear: right;
    font-family: georgia, serif;
    font-size: 123.1%;
    margin-top: 20px;
    padding: 20px;
}