#page-masthead h1 {
    background: #002244;
    padding: 30px;
    text-align: right;
}
#page-masthead h1 a {
    color: #ffff66;/*#ccdcff;*/
    font-family: "Helvetica Neue",Arial,Sans-Serif;
    font-size: 300%;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-decoration: none;
    text-transform: uppercase;
}
#page-masthead h1 a span {
    color: #99aeda;
    font-weight: normal;
    left: -0.25em;
    position: relative;
}
#page-masthead h1 a:hover {
    color: #99aeda;
}
#page-masthead h1 a:hover span {
    color: #ffff66;
}