html, body {
    background: #002244 url(/static/img/crush/body-back.png) repeat 50% 0;
    color: #66769b;
    font-family: "Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    line-height: 1.5;
    text-align: center;
}
a {
    color: #99aeda;
    text-decoration: none;
}
a:hover {
    color: #ffff66;
}
#page-body {
    margin: 30px auto;
    text-align: left;
    width: 900px;
}