.grid {
    display: inline-block;
}
.grid:after { 
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
.grid {
	display: block;
}
#page-content {
    display: inline;
    float: left;
    width: 700px;
}
#page-content .primary {
    width: 385px;
    float: left;
    margin-right: 15px;
}
#page-content .secondary {
    width: 285px;
    float: right;
    margin-right: 15px;
}
#page-related {
    display: inline;
    float: right;
    margin: 15px 0;
    width: 200px;
}